{{> head }}

{{> navbar }}

<div class="container my-5">
    <div class="row">
        <div class="col-8">
            <h1>Front End vs Backend</h1>
            <p class="lead text-muted">
                Front-end y back-end son términos que se refieren a la separación de intereses entre una capa de
                presentación y una capa
                de acceso a datos, respectivamente.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/imagen.png" class="img-thumbnail" alt="imagen">
        </div>
    </div>
</div>

{{> footer }}